/* TopBar.css */

.slantedbox {
  position: relative;
  background: yellow;
  display: inline-block;
  color: black;
  padding-left: 1em;
  z-index: 2;
}
.slantedbox:before {
  content: "";
  position: absolute;
  padding-left: 1em;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform: skewX(-15deg); /* Adjust the angle as needed */
  transform-origin: top left; /* Set the origin for the skew */
}
